.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  font-size: 39px;
  font-weight: 600;
  color: var(--primary-color);
}

.nav-bar {
  width: 100%;
  /* background-color: var(--silver-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav-links ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
  transition: 0.5s;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
  color: var(--text-color);
}
.nav-links ul li a {
  color: var(--neutral-d-grey, #4d4d4d);
  text-align: center;
  font-family: Inter;
  font-size: 11.137px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.706px;
  text-decoration: none;
}
.nav-links ul li a:hover {
  color: var(--primary-color);
}

.nav-links ul li a.active {
  color: var(--primary-color);
}
.login-out-btn {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
}

/* //////////////////////////////////////// */
/* //////////////////////////////////////// */
/* //////////////////////////////////////// */

.hero-container {
  width: 100%;
  background-color: var(--silver-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  flex: 1;
}
.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  flex: 1;
}

.hero-text h1 {
  color: var(--text-color);
  text-wrap: wrap;
  /* width: 22rem; */
  letter-spacing: 1px;
  font-size: 44px;
  font-weight: 600;
}

/* /////////////////////////// */
.our-clients {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  flex: 1;
}

.our-clients h2 {
  color: var(--text-color);
  text-align: center;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 2rem;
}

.client-logos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
  flex: 1;
}

/* //////////////////////////////// */

.features {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.features-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.features-header h1 {
  font-size: 3rem;
  color: var(--text-color);
  text-align: center;
  letter-spacing: 1px;
  width: 65%;
}

.features-cards {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.features-card {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  padding: 16.706px 22.274px;
  flex-direction: column;
  align-items: center;
  gap: 5.569px;
  border-radius: 5.569px;
  background: var(--neutral-white, #fff);
  box-shadow: 0px 1.39214px 2.78428px 0px rgba(171, 190, 209, 0.63);
  margin-bottom: 4rem;
  text-align: center;
}
.features-card-img {
  position: relative;
  font-size: 3rem;
  color: var(--shade-s-5);
  z-index: 1;
}
.features-card-img::after {
  /* position: absolute; */
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: #4caf4f;
  z-index: 0;
}
.fa-solid {
  stroke: #2194f3;
}
.shape {
  background-color: var(--tint-t-5);
  width: 60px;
  height: 60px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: -1;
}
/* ///////////////////////////// */
.learn-more {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.learn-more-img {
  display: flex;
  height: 100%;
}

.learn-more-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}
.learn-more-text h2 {
  color: var(--neutral-d-grey);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 30.627px;
}

.learn-more-btn {
  font-size: 20px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: #fff;
}

/* ///////////////////////////////////// */

.numbers-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding: 2rem;
  background-color: var(--silver-color);
}
.numbers-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.numbers-card {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

/* /////////////how-to///////////// */

.how-to {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.how-to-img {
  display: flex;
  height: 100%;
}

.how-to-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22.274px;
  flex-shrink: 0;
  padding: 2rem;
}

/* /////////////////testimonials////////////////////
 */
.testimonials {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--silver-color);
}
.testemonials-card {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 5px;
}
.testemonials-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22.274px;
}
.logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.logos a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

/* /////////////ABOUTSECTION///////// */
.about-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
}
.about-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 50%;
  text-align: center;
}
.about-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.about-card {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 5px;
}
.about-card-text {
  position: absolute;
  top: 8rem;
  width: 90%;
  height: 7rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--silver-color);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 1.39214px 2.78428px 0px rgba(171, 190, 209, 0.63);
}
.about-card-text {
  font-size: large;
}

/* ////////////////////get-demo////////////// */
.get-demo-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background: var(--silver-color);
}
.get-demo {
  padding: 4rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.get-demo h2 {
  font-size: 2.5rem;
  color: var(--secondary-color);
}
/* ///////////////////FOOTER////////// */

footer {
  width: 100%;
display: flex;

  justify-content: center;
flex-wrap: wrap;
  gap: 6rem;
  padding: 4rem 10rem;
  background-color: var(--secondary-color);
}

.footer-copy{
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}
.footer-urls{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.footer-urls h2{
font-size:1.7rem;
font-weight: 900;
}
footer ul li a,footer h1,footer h2,footer h3,footer h4,.footer-social-media a ,.footer-urls h2, .logo,footer p{
  color: #fff;
  font-weight: 100;
}

footer ul li a:hover {
  color: var(--primary-color);
}

.footer-social-media{
  display: flex;
  gap: 1rem;
}

.footer-social-media a {
  text-decoration: none;
  background-color: #d9dbe133;
  padding: .5rem;
  border-radius: 50%;
}

.sub-item {
  display: flex;
  gap: 1rem;
  background-color: #d9dbe11a;
  padding: .5rem;
  border-radius: 5px;
}
.sub-item input{
  display: flex;
  background-color: #d9dbe100;
  border: none;
  outline: none;
}
